/* TaskList Component Styles */

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #585858; */

}
.inner
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
ul {
    list-style-type: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    /* background-color: #a7abdd; */
    border-radius: 30px;
 
}

li {
    margin-bottom: 20px;
    border: 1px solid #000000; 
    border-radius: 20px; 
    padding: 10px;
    background-color: #f8f8ff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.tasks
{
    font-size: 20px;
    margin: 5px;
    overflow:auto;
}
.edit-text
{
    border: 1px solid #df5e5e;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    height: 30px;
    font-size: 16px;
}
.deletebtn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.editbtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.deletebtn:hover {
    background-color: #ff473d;
}

.editbtn:hover {
    background-color: #23ab19;
}

.savebtn {
    background-color: #646ff0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.savebtn:hover {
    background-color: #0056b3;
}


/* Responsive Styles */

@media screen and (max-width: 600px) {
    li {
        font-size: 14px;
       
    }
    ul {
        width: 100vw;
    };
    button {
        padding: 8px 16px;
        margin-bottom: 10px;
    }
    .inner
{
  
    width: 80%;
    
}
}
