/* Form Container Styles */

.form-outer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  
  .input-field {
    width: 100%; /* Adjust width to fill container */
    max-width: 300px; /* Limit maximum width */
    height: 30px;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .submit-button {
    width: 100%; /* Adjust width to fill container */
    max-width: 120px; /* Limit maximum width */
    height: 40px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .submit-button:active {
    background-color: #003974;
  }
  